* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Space Mono", monospace;
  font-size: 0.9375em;
  line-height: 1.5625em;
}

.devfinder {
    max-width: 730px;

}

h1 {
    font-size: 1.65em;
    line-height: 2.375em;
}

h2 {
    font-size: 1.375em;
    line-height: 2.0625em;
    margin-top: 0;
}

h3 a {
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    color: #0079FF;
}

p {
    margin-bottom: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header--mode {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 2.5px;
  color: #697C9A;
  text-transform: uppercase;
}

.searchbar {
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.search--input {
  width: 100%;
  padding: 20px 80px;
  font-family: "Space Mono", monospace;
  font-size: 1.125em;
  line-height: 25px;
  border: none;
  background-color: transparent;
}

.search--input:focus {
    outline: none;
}

.search--btn {
    background-color: #0079FF;
    color: #FFFFFF;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    height: 50px;
    width: 106px;
}

main {
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "icon username joined"
  "icon bio bio"
  "icon stats stats"
  "icon location twitter"
  "icon website company";
  gap: 1em;
  min-width: 730px;
  padding: 48px 52px
}

.user-icon {
    border-radius: 50%;
    grid-area: icon;
}

.user-username {
    grid-area: username;
}

.user-joined {
    color: #697C9A;
}



a {
    color: currentColor;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

.user-username h1 {
    margin: 0;
}

.user-joined {
    grid-area: joined;
    margin-top: 20px;
    text-align: right;
}

.user-bio {
    grid-area: bio;
}

.user-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    padding: 0 35px;
    margin: 15px 0;
    
}

.user-location {
    grid-area: location;
}
.user-twitter {
    grid-area: twitter;
}
.user-website {
    grid-area: website;
}
.user-company {
    grid-area: company;
}
