* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Space Mono", monospace;
}

.devfinder {
    width: 730px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
    font-size: 26px;
}

.header--mode {
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 2.5px;
  color: #697C9A;
  text-transform: uppercase;
}

.searchbar {
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.search--input {
  width: 100%;
  padding: 0 20px;
  font-family: "Space Mono", monospace;
  font-size: 18px;
  line-height: 25px;
  border: none;
  background-color: transparent;
}

.search--input:focus {
    outline: none;
}

.search--btn {
    background-color: #0079FF;
    color: #FFFFFF;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

main {
  border-radius: 15px;
  padding: 20px;
}
